body {
    font-family: Arial;
    text-align: center;
    background-color: #f2f2f2;
}

h1 {
    color: darkblue;
}

#search {
    padding: 8px;
    width: 250px;
    margin: 15px;
    font-size: 16px;
}

#studentList {
    margin: 20px;
    max-height: 400px;
    overflow-y: auto;
}

label {
    display: block;
    margin: 5px;
    font-size: 18px;
}

button {
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: darkgreen;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}