body {
  font-family: Arial;
  background: linear-gradient(135deg, #667eea, #764ba2);
  color: white;
  text-align: center;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

.student {
  background: white;
  color: black;
  padding: 10px;
  margin: 8px;
  border-radius: 10px;
}

button {
  padding: 10px 15px;
  margin: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #ff9800;
  color: white;
  font-weight: bold;
}

button:hover {
  background: #e68900;
}
