body {
    font-family: Arial;
    text-align: center;
    background: linear-gradient(135deg, #ff9a9e, #fad0c4);
    margin: 0;
}

h1 {
    padding: 15px;
    color: white;
}

.container {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.3);
}

.student-card {
    display: flex;
    justify-content: space-between;
    margin: 8px 0;
    padding: 10px;
    border-radius: 8px;
    font-weight: bold;
}

select {
    padding: 5px;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    margin-top: 15px;
    border: none;
    border-radius: 8px;
    background: #6a11cb;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #2575fc;
}

#savedData {
    margin-top: 20px;
    text-align: left;
    font-size: 14px;
}
