body {
  font-family: Arial;
  background: linear-gradient(135deg,#1e3c72,#2a5298);
  color: white;
  text-align: center;
  padding: 20px;
}

.student {
  padding: 10px;
  margin: 8px 0;
  border-radius: 10px;
  font-weight: bold;
}

button {
  padding: 8px 15px;
  margin: 10px;
  border: none;
  border-radius: 6px;
  background: orange;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

footer {
  margin-top: 30px;
  font-weight: bold;
  letter-spacing: 2px;
}
